
{{>headerUser}}
<form id="login" >
    <div id="intestazioneForm" >
        <p style="color: white"> LOGIN</p>
    </div>
    <div class="mail">
        <p>Email:<br/>
            <input class="mail-password" type="text" name="mail">

        </p>
    </div>
    <div class="password">
        <p>password: <br/>
            <input class="mail-password" type="password">
        </p>

    
 
   
    <div id="buttons">
        <button type="submit" class="bottoni-acc-reg" style="background-color: darkorange; color:white" onClick='/user/player' >Accedi</button>
    </div>
    </div>
   <div class="dropdown">
  
  
</div>

    <hr/>
    <p>non sei ancora registrato? <a href='/registration'>registrati ora</a></p>

  
</form> 



