<form id="registration" align="center" method="POST" action="/registration" >
    <div id="intestazioneForm">
        <p style="color: white; font-size:16px"> REGISTRAZIONE</p>
    </div>
    <div class="username">
         <p>Username:<br/>
            <input class="mail-password" type="text" name="username">

        </p>
    </div>
    <div class="mail">
        <p>Email:<br/>
            <input class="mail-password" type="text" name="email">

        </p>
    </div>
    <div class="password">
        <p>password: <br/>
            <input class="mail-password" type="password" name="password">
        </p>
        <p>Ripeti password: <br/>
            <input class="mail-password" type="password" name="password_confirm">
        </p>

    </div>
    
    
    <div id="buttons">
        <button type="submit" class="bottoni-acc-reg" >Registrati</button>
    </div>
  
</form> 