
    <form id="registration" align="center" method="POST" action="/registration" >
    <div id="intestazioneForm">
        <p style="color: white; font-size:16px"> REGISTRAZIONE</p>
    </div>
    
    <div class="username">
         <p style="font-weight: bold">Username:<br/>
            <input class="mail-password" type="text" name="username">

        </p>
       
    </div>
    <div class="mail">
        <p style="font-weight: bold">Email:<br/>
            <input class="mail-password" type="text" name="email">

        </p>
    </div>
    <div class="password">
        <p style="font-weight: bold">password: <br/>
            <input class="mail-password" type="password" name="password">
        </p>
        <p style="font-weight: bold">Ripeti password: <br/>
            <input class="mail-password" type="password" name="password_confirm">
        </p>

    </div>
    <div class="banner">
        <p style="color: black">-la password deve avere almeno 6 caratteri <br>
        -se la registrazione è stata effettuata con successo verrete reindirizzati al login</p>
    </div>
    
    <div id="buttons">
        <button type="submit" class="bottoni-acc-reg" >Registrati</button>
    </div>
  
</form> 