<form id="pg_creator" class="clearfix">
    <div  id=intestazioneForm>
        <p > CREA IL TUO PERSONAGGIO</p>

    </div>
    <div class='informazioni_pg' style="margin-top: 10px">
        <p style="margin-top: 20px">Nome personaggio: <input class="mail-password" type="text"></p>
         <div class="form-group">
   
    <p>Classe:
        <select id="razza"> <br>
     <option>Scegli Classe</option>
      <option>Barbaro</option>
      <option>Bardo</option>
      <option>Chierico</option>
      <option>Druido</option>
      <option>Guerriero</option>
        <option>Ladro</option>
            <option>Mago</option>
               <option>Monaco</option>
                  <option>Paladino</option>
                     <option>Ranger</option>
                        <option>Stregone</option>
                           <option>Warlock</option>
    </select></p>

    <p>Razza: <input class="mail-password"></p>
    <p class="statistiche">Allineamento:
        <select id="allineamento 1"><br>
        <option>Legale </option>
        <option>Neutrale</option>
        <option>Caotico</option></select>
        <select id="allineamento 2">
            <option>Buono</option>
            <option>Neutrale</option>
            <option>Malvagio</option>
        </select>
    </p>
    <hr>
    <p class="titolo-scheda">STATISTICHE</p>
    <p class="statistiche"> FORZA:<select id="valore-statistiche"> <br>
     <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
        <option>12</option>
            <option>13</option>
               <option>14</option>
                  <option>15</option>
                     <option>16</option>
                        <option>17</option></select></p>
    <p class="statistiche"> DESTREZZA:<select id="valore-statistiche"> <br>
     <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
        <option>12</option>
            <option>13</option>
               <option>14</option>
                  <option>15</option>
                     <option>16</option>
                        <option>17</option></select></p>
        <p class="statistiche"> COSTITUZIONE:<select id="valore-tatistiche"> <br>
     <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
        <option>12</option>
            <option>13</option>
               <option>14</option>
                  <option>15</option>
                     <option>16</option>
                        <option>17</option></select></p>
    <p class="statistiche"> INTELLIGENZA:<select id="valore-statistiche"> <br>
     <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
        <option>12</option>
            <option>13</option>
               <option>14</option>
                  <option>15</option>
                     <option>16</option>
                        <option>17</option></select></p>
    <p class="statistiche"> SAGGEZZA:<select id="valore-statistiche"> <br>
     <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
        <option>12</option>
            <option>13</option>
               <option>14</option>
                  <option>15</option>
                     <option>16</option>
                        <option>17</option></select></p>
    <p class="statistiche"> CARISMA:<select id="valore-statistiche"> <br>
     <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
        <option>12</option>
            <option>13</option>
               <option>14</option>
                  <option>15</option>
                     <option>16</option>
                        <option>17</option></select></p>

  </div>
  <button class="bottone-conferma" type="submit" style="align: right">CONFERMA</button>
</div>

    </div>
</div>