{{>headerUser}}
<form id="griglia-personaggi" class="clearfix">
<div id="intestazioneForm">
    <p >PERSONAGGI</p>
</div>
<table class="table ">
 
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Pluto</td>
      
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Paperino</td>
     
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Larry the Bird</td>
      
    </tr>
  </tbody>
 
</table>
<hr> <button class="crea_pg">CREA PERSONAGGIO</button></form>