{{>headerUser}}
<h2 class="area-player-master">Benvenuto nell'area Player</h2>
<div action="" class="playerhome clearfix">
<div class="menuplayer">
  <ul >
    <li class="menu-item collezionePers">Personaggi Posseduti</li>
    <li class="menu-item acquisisciPers">Personaggi Acquistabili</li>
    <li class="menu-item schedePers">Schede Personaggi</li>

  </ul>
</div>
<div class="contenuti">
<div class="personaggiPoss" > 
<div id="griglia-personaggi" class="clearfix">
  <div id="intestazioneForm">
    <p >personaggi posseduti</p>
</div>
<table style="background-color: rgba(240, 248, 255, 0.5); width:100%" id="posseduti">
  <tbody>
    <tr style="background-color:red;">
      <td>nome personaggio</td>
       <td>classe</td>
    </tr>
    {{#each pgPosseduto}}
    <tr class="personaggioAcquistabile">
      <td>{{this.name}}</td>
      <td>{{this.class}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div></div>
<form class="personaggiAcq "  method="POST" action="/user/player/aggiungiPg">
 <div class="creaParty" >
  <p>Personaggio <input class="nomeParty" name="nomePersonaggio"> 
  <!--<a href="/user/master/aggiungiParty" style="background-color: darkorange; border-color:black; border-weight:2px;">aggiungi Party</a>-->
  <button type="submit" class="bottone-agg-party">aggiungi Pg</button></p> </div>
  <div id="griglia-personaggi" class="clearfix">
<div id="intestazioneForm">
    <p >personaggi acquistabili </p>
</div>

<div id='nonPosseduti'>
  
<table style="background-color:rgba(240, 248, 255, 0.5); width:100%"; name="personaggiAcquistabili" id="nonPossedutiTabella">
  <tbody>
    {{#each pgAcquistabile }}
    <tr class="personaggioAcquistabile">
      <td>{{this.name}} </td>
       
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
</div>
</form>
<section class="cards clearfix" >
  <div id="intestazioneForm">
    <p > Schede Personaggi</p>
</div>
  <!--Alhandra-->
  <div class="card">
  <img class="personag" src="https://i.ibb.co/Hzhkcxd/paladino-aasimar-260x400.jpg"  >
  <hr>
  <h2 class="nPg" >Alhandra</h2>
  
  <p class="descrizionePg"> <b>Classe:</b> Paladino   <b>Razza:</b> Aasimar<br>
  <b>Allineamento:</b> Legale/Buono 
  <hr>
  <p class="descrizionePg"><b><u>CARATTERISTICHE</u></b><br>
  <b>Forza:</b>16   <b>Destrezza:</b>12 
  <b>Costituzione:</b>15 <br>  <b>Intelligenza:</b>8 
  <b>Saggezza:</b>10   <b>Carisma:</b>13
  </p></p>
</div>
<!--Belzy-->
<div class="card">
  <img class="personag" src="https://i.ibb.co/WWQzrJr/warlock-tiefling-260x400.jpg"  >
  <hr>
  <h2 class="nPg" >Belzy</h2>
  
  <p class="descrizionePg"> <b>Classe:</b> Warlock   <b>Razza:</b> Tiefling<br>
  <b>Allineamento:</b> Caotico/Malvagio <br>
  <hr>
  <p class="descrizionePg"><b><u>CARATTERISTICHE</u></b><br>
  <b>Forza:</b>8   <b>Destrezza:</b>10 
  <b>Costituzione:</b>14 <br>  <b>Intelligenza:</b>10
  <b>Saggezza:</b>8   <b>Carisma:</b>16
  </p></p>
</div>
<!--Cerqus-->
<div class="card">
  <img class="personag" src="https://i.ibb.co/VB36yWJ/ranger-felinide-260x400.jpg" >
  <hr>
  <h2 class="nPg" >Cerqus</h2>
  
  <p class="descrizionePg"> <b>Classe:</b> Ranger   <b>Razza:</b> Felinide<br>
  <b>Allineamento:</b> Neutrale/Buono <br>
  <hr>
  <p class="descrizionePg"><b><u>CARATTERISTICHE</u></b><br>
  <b>Forza:</b>8   <b>Destrezza:</b>16  <b>Costituzione:</b>14   <br> 
  <b>Intelligenza:</b> 14 <b>Saggezza:</b>14  <b>Carisma:</b>10
  </p></p>
</div> 
<!--Eberk-->
<div class="card">
  <img class="personag" src="https://i.ibb.co/QKJxpvN/nano-chierico-260x400-1-260x400.jpg"  >
  <hr>
  <h2 class="nPg" >Eberk</h2>
  
  <p class="descrizionePg"> <b>Classe:</b> Chierico   <b>Razza:</b> Nano<br>
  <b>Allineamento:</b> Legale/Buono <br>
  <hr>
  <p class="descrizionePg"><b><u>CARATTERISTICHE</u></b><br>
  <b>Forza:</b>14   <b>Destrezza:</b>8 
  <b>Costituzione:</b>15 <br>  <b>Intelligenza:</b>10
  <b>Saggezza:</b>16   <b>Carisma:</b>12
  </p></p>
</div>
<!--Ember-->
<div class="card">
  <img class="personag" src="https://i.ibb.co/ZmBDNSR/monaco-dragonide-260x400-1.jpg"  >
  <hr>
  <h2 class="nPg" >Ember</h2>
  
  <p class="descrizionePg"> <b>Classe:</b> Monaco   <b>Razza:</b> Dragonide<br>
  <b>Allineamento:</b> Neutrale/Neutrale <br>
  <hr>
  <p class="descrizionePg"><b><u>CARATTERISTICHE</u></b><br>
  <b>Forza:</b>13   <b>Destrezza:</b>16 
  <b>Costituzione:</b>12 <br>  <b>Intelligenza:</b>13
  <b>Saggezza:</b>14   <b>Carisma:</b>8
  </p></p>
</div>
<!--Gimble-->
<div class="card">
  <img class="personag" src="https://i.ibb.co/stV7yv1/Bardo-mezzelfo-260x400.jpg"  >
  <hr>
  <h2 class="nPg" >Gimble</h2>
  
  <p class="descrizionePg"> <b>Classe:</b> Bardo   <b>Razza:</b> Mezzelfo<br>
  <b>Allineamento:</b> Neutrale/Neutrale <br>
  <hr>
  <p class="descrizionePg"><b><u>CARATTERISTICHE</u></b><br>
  <b>Forza:</b>9   <b>Destrezza:</b>14
  <b>Costituzione:</b>11 <br>  <b>Intelligenza:</b>13
  <b>Saggezza:</b>14   <b>Carisma:</b>17
  </p></p>
</div>
<!-- Kerwyn-->
<div class="card">
  <img class="personag" src="https://i.ibb.co/C8xrvCv/halfling-ladro-260x400.jpg" >
  <hr>
  <h2 class="nPg" >Kerwyn</h2>
  
  <p class="descrizionePg"> <b>Classe:</b> Ladro   <b>Razza:</b> Halfling<br>
  <b>Allineamento:</b> Caotico/Neutrale <br>
  <hr>
  <p class="descrizionePg"><b><u>CARATTERISTICHE</u></b><br>
  <b>Forza:</b>8  <b>Destrezza:</b>14
  <b>Costituzione:</b>16 <br>  <b>Intelligenza:</b>12
  <b>Saggezza:</b>10  <b>Carisma:</b>14
  </p></p>
</div>
<!--Saruman-->
<div class="card">
  <img class="personag" src="https://i.ibb.co/5Ry1hYk/gnomo-stregone-260x400.jpg"  >
  <hr>
  <h2 class="nPg" >Saruman</h2>
  
  <p class="descrizionePg"> <b>Classe:</b> Stregone   <b>Razza:</b> Gnomo<br>
  <b>Allineamento:</b> Caotico/Neutrale <br>
  <hr>
  <p class="descrizionePg"><b><u>CARATTERISTICHE</u></b><br>
  <b>Forza:</b>10   <b>Destrezza:</b>13
  <b>Costituzione:</b>14<br>  <b>Intelligenza:</b>12
  <b>Saggezza:</b>10   <b>Carisma:</b>15
  </p></p>
</div>
<!--Smug-->
<div class="card">
  <img class="personag" src="https://i.ibb.co/SfSDKxk/mezzorco-barbaro-260x400-1.jpg"  >
  <hr>
  <h2 class="nPg" >Smug</h2>
  
  <p class="descrizionePg"> <b>Classe:</b> Barbaro   <b>Razza:</b> Mezzorco<br>
  <b>Allineamento:</b> Caotico/Neutrale <br>
  <hr>
  <p class="descrizionePg"><b><u>CARATTERISTICHE</u></b><br>
  <b>Forza:</b>16   <b>Destrezza:</b>11
  <b>Costituzione:</b>17 <br>  <b>Intelligenza:</b>8
  <b>Saggezza:</b>6   <b>Carisma:</b>6
  </p></p>
</div>
<!--Talahassi-->
<div class="card">
  <img class="personag" src="https://i.ibb.co/wCzqYJX/centauro-mago-260x400.jpg"   >
  <hr>
  <h2 class="nPg" >Talahassi</h2>
  
  <p class="descrizionePg"> <b>Classe:</b> Mago   <b>Razza:</b> Centauro<br>
  <b>Allineamento:</b> Caotico/Neutrale <br>
  <hr>
  <p class="descrizionePg"><b><u>CARATTERISTICHE</u></b><br>
  <b>Forza:</b>10   <b>Destrezza:</b>10 
  <b>Costituzione:</b>14 <br>  <b>Intelligenza:</b>17
  <b>Saggezza:</b>13   <b>Carisma:</b>9
  </p></p>
</div>
<!--Tordek-->
<div class="card">
  <img class="personag" src="https://i.ibb.co/WVbKVzC/umano-guerrier-260x400.jpg"  >
  <hr>
  <h2 class="nPg" >Tordek</h2>
  
  <p class="descrizionePg"> <b>Classe:</b> Guerriero   <b>Razza:</b> Umano<br>
  <b>Allineamento:</b> Neutrale/Buono <br>
  <hr>
  <p class="descrizionePg"><b><u>CARATTERISTICHE</u></b><br>
  <b>Forza:</b>16  <b>Destrezza:</b>10 
  <b>Costituzione:</b>14 <br>  <b>Intelligenza:</b>8
  <b>Saggezza:</b>10   <b>Carisma:</b>12
  </p></p>
</div>
<!-- Vadania-->
<div class="card">
  <img class="personag" src="https://i.ibb.co/wRnDv1y/elfo-druido-260x400.jpg"   >
  <hr>
  <h2 class="nPg" >Vadania</h2>
  
  <p class="descrizionePg"> <b>Classe:</b> Druido   <b>Razza:</b> Elfo<br>
  <b>Allineamento:</b> Neutrale/Buono <br>
  <hr>
  <p class="descrizionePg"><b><u>CARATTERISTICHE</u></b><br>
  <b>Forza:</b>11  <b>Destrezza:</b>16 
  <b>Costituzione:</b>10 <br>  <b>Intelligenza:</b>10
  <b>Saggezza:</b>16   <b>Carisma:</b>10
  </p></p>
</div>
</section>
</div>
</div>
<!-- inclusione jquery-->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
  $ (document) .ready (function () {
       $(".personaggiAcq").hide();
       $(".cards").hide();
$(".acquisisciPers").click(function(e){ 
  $(".personaggiAcq").show();
    $(".personaggiPoss").hide();
    $(".cards").hide();
   e.preventDefault();
},
);
    });
$ (document) .ready (function () {
$(".collezionePers").click(function(e){ 
  $(".personaggiAcq").hide();
      $(".cards").hide();
    $(".personaggiPoss").show();
   e.preventDefault();
},
);
    });

    $ (document) .ready (function () {
$(".schedePers").click(function(e){ 
  $(".personaggiAcq").hide();
      $(".cards").show();
    $(".personaggiPoss").hide();
   e.preventDefault();
},
);
    });


</script>
